html{
	font-size: 62.5%;
}

.navcontainer{
    text-align:center;
}


footer .footerinfo a {
	text-decoration: none;
    color: white;
}



.navbar-brand{
    font-size: 19px;
}

.navbar-nav{
    font-size: 15px;
}



footer .info{
    font-size: 13.6px;
}

footer .icons a i{
    font-size: 20px;
    
}


footer .info .footerinfo{
    line-height: 33px;
    display: flex;
    flex-direction: column;
}



footer .Copyright{
    font-size: 1.5rem;
}

footer{
    margin-top: 3px;
}
